{% extends 'index.html' %}

{% block title %}Courses{% endblock %}

{% block content %}

<div class="my-5">

    <div class="d-grid gap-2 mb-2 d-md-block">
        <a href="{{ url_for('main.course') }}" class="btn btn-secondary btn-sm">Back courses</a>
    </div>

    <h2 class="mb-3 text-center text-body-emphasis">Edit a course</h2>

    <form class="w-50 m-auto" method="POST" action="{{ url_for('main.course_create') }}" novalidate>
        {{ form.hidden_tag() }}

        {% include 'pages/course/form.html' %}

    </form>
</div>

{% endblock %}