<div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {% if form.name.errors %}
    {{ form.name(class="form-control is-invalid", placeholder="Enter the discipline name") }}
    {% for error in form.name.errors %}
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {{ form.name(class="form-control", placeholder="Enter the discipline name") }}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.code.label(class="form-label") }}
    {% if form.code.errors %}
    {{ form.code(class="form-control is-invalid", placeholder="Enter the discipline code") }}
    {% for error in form.code.errors %}
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {{ form.code(class="form-control", placeholder="Enter the discipline code") }}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.workload.label(class="form-label") }}
    {% if form.workload.errors %}
    {{ form.workload(class="form-control is-invalid", placeholder="Enter the workload") }}
    {% for error in form.workload.errors %}
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% endfor %}
    {% else %}
    {{ form.workload(class="form-control", placeholder="Enter the workload") }}
    {% endif %}
</div>

<div class="mb-3">
    {{ form.teacher.label(class="form-label") }}
    {% for subfield in form.teacher %}
    <div class="form-check">
        {{ subfield(class="form-check-input") }}
        {{ subfield.label(class="form-check-label") }}
    </div>
    {% endfor %}
</div>

<div class="mb-3">
    {{ form.course.label(class="form-label") }}
    {% for subfield in form.course %}
    <div class="form-check">
        {{ subfield(class="form-check-input") }}
        {{ subfield.label(class="form-check-label") }}
    </div>
    {% endfor %}
</div>

<div class="d-grid">
    {{ form.submit(class="btn btn-primary") }}
</div>